.header {
  position: fixed;
  z-index: 3;
  width: calc(100% - 20px);
  max-width: 1500px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 20px 30px;
  color: black;
}
.header__mobile-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-size: 20px;
}
@media only screen and (max-width: 400px) {
  .header__title {
    font-size: 16px;
  }
}
.header__navbar {
  display: none;
  margin-top: 20px;
}
.header__navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.header__navbar__item {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
  color: black;
  fill: black;
}
.header__navbar__item::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: black;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.header__navbar__item:hover {
  color: #d20fff;
  fill: #d20fff;
}
.header__navbar--show {
  display: block;
}
.header__hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 28px;
  width: 28px;
}
.header__hamburger--hidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__mobile-flex {
    display: block;
  }
  .header__title {
    font-size: 24px;
  }
  .header__navbar {
    margin: 0;
    display: block;
  }
  .header__navbar ul {
    flex-direction: row;
    list-style: none;
  }
  .header__navbar__item {
    margin: 0 15px;
    font-size: 17px;
  }
  .header__navbar__item::before {
    display: none;
  }
  .header__hamburger {
    display: none;
  }
}
.typing {
  animation: typing 3s steps(9, end) infinite, cursor-blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.typing2 {
  animation: typing2 3.5s steps(20, end) infinite, cursor-blink 0.75s step-end infinite;
}
@keyframes typing2 {
  from {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.hero {
  height: 100vh;
  max-width: 1400px;
  padding: 0 25px;
  margin-top: 130px;
}
.hero__left {
  position: relative;
}
.hero__left__title {
  margin-bottom: 5px;
  width: fit-content;
  display: block;
  color: white;
}
.hero__left__title h2, .hero__left__title span {
  font-size: 18px;
}
.hero__left__title span {
  display: inline-block;
  width: 0;
  font-weight: bold;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid white;
}
@keyframes cursor-blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.hero__left__subtitle {
  font-size: 16px;
  color: #bbb;
  font-weight: 500;
  margin-bottom: 15px;
}
.hero__left__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: white;
}
.hero__left__icons {
  display: flex;
  margin-top: 20px;
}
.hero__left__icons a {
  fill: white;
  margin-right: 10px;
  transition: fill 0.3s;
}
.hero__left__icons a:hover {
  fill: #d20fff;
}
.hero__right {
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  aspect-ratio: 1/1;
}
.hero__right__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../img/my-photo3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 8px 8px 10px rgba(1, 1, 1, 0.5);
  border: 8px solid black;
}

@media only screen and (min-width: 500px) {
  .hero {
    margin-top: 150px;
    padding: 0 50px;
  }
  .hero__left__title {
    display: flex;
    align-items: center;
  }
  .hero__left__title h2 {
    font-size: 24px;
  }
  .hero__left__title span {
    margin: 0;
    margin-left: 15px;
    font-size: 24px;
  }
  .hero__left__subtitle {
    font-size: 18px;
  }
  .hero__left__text {
    font-size: 16px;
    max-width: 450px;
  }
  .hero__right {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }
  .hero__left {
    min-width: 620px;
  }
  .hero__left::before {
    content: "";
    position: absolute;
    top: -61%;
    left: -20%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 125%;
    aspect-ratio: 3/2;
    filter: blur(3px);
    z-index: -1;
  }
  .hero__left__title h2, .hero__left__title span {
    font-size: 32px;
  }
  .hero__left__subtitle {
    font-size: 22px;
  }
  .hero__right {
    width: 30%;
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .hero__left {
    min-width: 0;
  }
  .hero__left::before {
    display: none;
  }
}
.aboutme {
  height: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
}

body {
  background: url(../img/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg) center/cover;
}

/*# sourceMappingURL=styles.css.map */
