.header {
  position: fixed;
  z-index: 3;
  width: calc(100% - 20px);
  max-width: 1500px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 20px 30px;
  color: black;
}
.header__mobile-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-size: 20px;
}
@media only screen and (max-width: 400px) {
  .header__title {
    font-size: 16px;
  }
}
.header__navbar {
  display: none;
  margin-top: 20px;
}
.header__navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.header__navbar__item {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
  color: black;
  fill: black;
}
.header__navbar__item::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: black;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.header__navbar__item:hover {
  color: #55b5e5;
  fill: #55b5e5;
}
.header__navbar--show {
  display: block;
}
.header__hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 28px;
  width: 28px;
}
.header__hamburger--hidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__mobile-flex {
    display: block;
  }
  .header__title {
    font-size: 24px;
  }
  .header__navbar {
    margin: 0;
    display: block;
  }
  .header__navbar ul {
    flex-direction: row;
    list-style: none;
  }
  .header__navbar__item {
    margin: 0 15px;
    font-size: 17px;
  }
  .header__navbar__item::before {
    display: none;
  }
  .header__hamburger {
    display: none;
  }
}
.hero {
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  color: white;
}
.hero__left {
  width: 40%;
  padding-right: 30px;
}
.hero__left__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid #bbb;
}
@keyframes cursor-blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #bbb;
  }
}
.hero__left .typing {
  animation: typing 3s steps(9, end) infinite, cursor-blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 95px;
  }
  40% {
    width: 315px;
  }
  60% {
    width: 315px;
  }
  85% {
    width: 95px;
  }
  100% {
    width: 95px;
  }
}
.hero__left .typing2 {
  animation: typing2 3.5s steps(20, end) infinite, cursor-blink 0.75s step-end infinite;
}
@keyframes typing2 {
  from {
    width: 95px;
  }
  40% {
    width: 580px;
  }
  60% {
    width: 580px;
  }
  85% {
    width: 95px;
  }
  100% {
    width: 95px;
  }
}
.hero__left__subtitle {
  font-size: 22px;
  color: #bbb;
  font-weight: 500;
  margin-bottom: 15px;
}
.hero__left__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.hero__left__icons {
  display: flex;
  margin-top: 20px;
}
.hero__left__icons a {
  fill: white;
  margin-right: 10px;
  transition: fill 0.3s;
}
.hero__left__icons a:hover {
  fill: black;
}
.hero__right {
  width: 40%;
  margin-left: 200px;
  text-align: right;
  height: 500px;
}
.hero__right__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../img/my-photo3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    margin-top: 100px;
  }
  .hero__left {
    width: 90%;
    padding: 0;
  }
  .hero__right {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}
.aboutme {
  height: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
}

body {
  background: url(../img/codioful-formerly-gradienta-bKESVqfxass-unsplash.jpg) center/cover;
}

/*# sourceMappingURL=styles.css.map */
