@import "globals";

.hero {
  height: 100vh;
  max-width: 1400px;
  margin-top: 150px;
  padding: 0 30px;

  &__left {
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
      display: inline-block;

      overflow: hidden;
      white-space: nowrap;
      letter-spacing: 0.15em;
      border-right: 0.15em solid white;
      
      @keyframes cursor-blink {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: white;
        }
      }
    }

    &__subtitle {
      font-size: 20px;
      color: $color-gray;
      font-weight: 500;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
      text-align: justify;
      color: white;
    }

    &__icons {
      display: flex;
      margin-top: 20px;
      
      a {
        fill: white;
        margin-right: 10px;
        transition: fill .3s;

        &:hover {
          fill: black;
        }
      }
    }
  }

  &__right {
    margin: 0 auto;
    margin-top: 70px;
    width: 80%;
    aspect-ratio: 1 / 1;

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: url(../img/my-photo3.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.typing {
  animation: typing 3s steps(9, end) infinite,
            cursor-blink 0.75s step-end infinite;

  @keyframes typing {
    from {
      width: 20%;
    }
    40% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    85% {
      width: 20%;
    }
    100% {
      width: 20%;
    }
  }
}

.typing2 {
  animation: typing2 3.5s steps(20, end) infinite,
            cursor-blink 0.75s step-end infinite;

  @keyframes typing2 {
    from {
      width: 20%;
    }
    40% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    85% {
      width: 20%;
    }
    100% {
      width: 20%;
    }
  }
}


@media only screen and (min-width: 1000px) {

.hero {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__left {
    min-width: 580px;

    &__title {
      font-size: 32px;
    }

    &__subtitle {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
      max-width: 450px;
    }
  }

  &__right {
    width: 30%;
    margin: 0;
    margin-left: 100px;
  }
}
}